<!-- Breadcrumbs -->
<div class="breadcrumbs">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="bread-inner">
          <ul class="bread-list">
            <li><a href="index1.html">Home<i class="ti-arrow-right"></i></a></li>
            <li class="active"><a href="blog-single.html">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Breadcrumbs -->

<!-- Start Contact -->
<section id="contact-us" class="contact-us section">
  <div class="container">
      <div class="contact-head">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="form-main">
              <form class="form" [formGroup]="userLogin" (ngSubmit)="login(userLogin.value)" >
                <app-error [errors]="errors"></app-error>
                <div class="row">

                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Your Email<span>*</span></label>
                      <input formControlName="email" class="form-control" type="email" name="email">
                      <span *ngIf="userLogin.get('email')!.errors?.required&&userLogin.get('email')!.touched">Email is Required</span>
                      <span *ngIf="userLogin.get('email')!.errors?.email&&userLogin.get('email')!.touched">Email not valid</span>
                    </div>
                  </div>
                  <div class="col-lg-6 col-12">
                    <div class="form-group">
                      <label>Password<span>*</span></label>
                      <input formControlName="password" class="form-control " type="password" name="password">
                      <span *ngIf="userLogin.get('password')!.errors?.required&&userLogin.get('password')!.touched">Password is Required</span>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group button">
                      <button [disabled]="!userLogin.valid" type="submit" class="btn ">LogIn</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>
<!--/ End Contact -->







